.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.hv {
  border-radius: 10px;
  border: none;
}
.hv:hover {
  box-shadow: 10px 8px 3px #DADDE2;
  transition: all .4s;
  color: #00754B;
}
